<main class="page-wrapper">

    <header class="header navbar navbar-expand-lg navbar-dark navbar-floating navbar-sticky bg-secondary">
        <div class="container px-0 px-xl-3">
            <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand flex-shrink-0 order-lg-1 mx-auto ms-lg-0 pe-lg-2 me-lg-4" href="#">
                <img class="navbar-floating-logo d-none d-lg-block" src="https://around.createx.studio/img/logo/logo-light.png" width="153" />
                <!-- <img class="navbar-stuck-logo" src="https://around.createx.studio/img/logo/logo-light.png" width="153" /> -->
                <img class="d-lg-none" src="https://around.createx.studio/img/logo/logo-icon.png" width="58" />
            </a>
            <div class="d-flex align-items-center order-lg-3 ms-lg-auto">
               <a class="btn btn-primary" href="#" target="_blank">
                   <i class="fas fa-envelope me-2"></i> Contact
               </a>
            </div>
            <div id="primaryMeny" class="offcanvas offcanvas-collapse order-lg-2">
                <div class="offcanvas-header navbar-shadow">
                    <h5 class="mt-1 mb-0">
                        Menu
                    </h5>
                    <button type="button" class="btn-close lead"></button>
                </div>
                <div class="offcanvas-body">
                    <tcc-navigation></tcc-navigation>
                </div>
            </div>
        </div>
    </header>

</main>



<section class="layout--normal">

    <!-- Outlet -->
    <router-outlet></router-outlet>

</section>
