<form novalidate class="contact-form needs-validation" (submit)="submitForm(contactForm)" [formGroup]="contactForm">

    <!-- Name -->
    <div class="form-floating mb-4" ngxErrors="name" #nameErrors="ngxErrors">
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name"
            [class.is-invalid]="nameErrors.hasError('*', ['touched'])" />
        <label for="subject">Name</label>
        <div class="invalid-feedback" ngxError="required" when="touched">
            Name is required
        </div>
    </div>

    <!-- Email -->
    <div class="form-floating mb-4" ngxErrors="email" #emailErrors="ngxErrors">
        <input type="text" class="form-control" id="email" formControlName="email" placeholder="Email"
            [class.is-invalid]="emailErrors.hasError('*', ['touched'])" />
        <label for="subject">Email</label>
        <div class="invalid-feedback" ngxError="required" when="touched">
            Email is required
        </div>
        <div class="invalid-feedback" ngxError="email" when="touched">
            Email format invalid
        </div>
    </div>

    <!-- Subject -->
    <div class="form-floating mb-4" ngxErrors="subject" #subjectErrors="ngxErrors">
        <input type="text" class="form-control" id="subject" formControlName="subject" placeholder="Subject"
            [class.is-invalid]="subjectErrors.hasError('*', ['touched'])" />
        <label for="subject">Subject</label>
        <div class="invalid-feedback" ngxError="required" when="touched">
            Subject is required
        </div>
    </div>

    <!-- Message -->
    <div class="form-floating mb-4" ngxErrors="message" #messageErrors="ngxErrors">
        <textarea class="form-control" id="message" formControlName="message" placeholder="Message" style="height: 10rem"
            [class.is-invalid]="subjectErrors.hasError('*', ['touched'])">
        </textarea>
        <label for="message">Message</label>
        <div class="invalid-feedback" ngxError="required" when="touched">
            Message is required
        </div>
    </div>

    <button type="submit" class="btn btn-primary" [ladda]="loading">
        Submit
    </button>

</form>
